<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
  {{> reviews-form}}

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
    <!--ISSUE: takes you to "\result" instead of the home page "\"-->
    <button href="../">Cancel</button>
  </p>

</form>
